option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: ec2login
commands:
  00-remove-guid-lock:
    command: sed -i.bak 's#mirrorlist=http://repo.$awsregion.$awsdomain/$releasever/updates/mirror.list-$guid#mirrorlist=http://repo.$awsregion.$awsdomain/$releasever/updates/mirror.list#' /etc/yum.repos.d/amzn-updates.repo
    ignoreErrors: true
  01a-perform-update:
    command: yum update procmail -y --releasever=latest
    ignoreErrors: true
  01b-perform-update-w-epel:
    command: yum update procmail -y --releasever=latest --enablerepo=epel
    ignoreErrors: true

